/* Book App */
html, body, .root {
  height: 100%;
  font-family: 'Gentium Book Basic', serif;
}
body {
  line-height: 1.5;
}
body, .app {
  background: #938463;
}





/* book cover  ---> NOT USED???? */

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
